<form class="new-post-form">
      <input type="text" class="form-control form-control2 bg-dark text-white" id="comment-input" name="comment-text"
        placeholder="Add comment" />
      <button type="submit" class="btn btn-warning" id="btn-post">Reply</button>
    </form>

