

    {{#if loggedIn}}
    <form class="new-post-form">
      <input type="text" class="form-control form-control2 bg-dark text-white" id="post-input" name="post-text"
        placeholder="What's on your mind?" />
      <button type="submit" class="btn btn-warning" id="btn-post">Post</button>
    </form>
    {{/if}}




    {{#each posts as |post|}}
    <div class="main">
      <h2 class="postinfo">{{user.username}}</h2>
      <p class="post_text">{{post.post_text}}{{comment.comment_text}}</p>
      <div class="bottombar">
        <input type="image" src="/images/thumbs.png" name="Upvote Button" class="upvotes" id="upvoteBtn">
        {{#if comments}}
        <svg class="bi bi-dot" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
        </svg>
      </div>
    </div>
    {{/if }}
       {{> comments}}
    <form class="comment-form" data-post-id={{id}}>
      <input type="text" class="form-control form-control2 bg-dark text-white" id="post-input" name="comment-body"
        placeholder="Add comment" />
      <button type="submit" class="btn btn-warning" id="btn-post">Reply</button>


    </form>




    {{/each}}

    {{!--
  </div>
  <div class="sidebar">
  </div>
</div>
</div> --}}
{{#if loggedIn}}
<script src="/js/addPost.js"></script>
<script src="/js/comment.js"></script>

{{/if}}