* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  padding: .4px;
  width: 100%;
  text-align: center;
  color: rgb(167, 74, 74);
  background: linear-gradient(to right, rgb(217, 158, 158) 0%, rgb(202, 110, 202) 100%);
  size: 10vw;
  font-style: oblique;
  font-family:sans-serif;
}

.header h1 {
  font-size: 40px;
  padding: 1rem;
  opacity: 90%;
  background-image: url("/images/header.png");

}
.content {position:relative; margin:0 auto 0 auto; width:400px; right:20%; background-color:#ffffff;}

.button {
  background-color: #ce949c;
  border: none;
  color: white;
  padding: 20px 22rem;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  flex-wrap: wrap;
  
}

.btn {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  
}

.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex; /* IE10 */
  width: 100%;
}
.footer h2{
  font-size: 20px;
}
span {
  text-align: center;
  content: "\2665";
}
/* added formatting for content */
.side {
  padding-left: 20px;
  height:fit-content;
  max-width: 20%;
}

.side-img {
 max-width: inherit;
 max-height: inherit;
 font-size: small;
 font-weight: 100;
}

/* ADDED CSS FOR NAVBARS */
.navbar {
  display:flex;
  align-items: center;
  min-height: 60px;
  background-color: #ce949c;
  justify-content: right;
  font-size: medium;
}

.navbar a{
  font-weight: bold;
  color: black;
}

.navbar-left {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.navbar-right {
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}


.profile-card-username {
  text-emphasis-color: red;


}

.navbar2 {
  display:flex;
  justify-content: right;
  align-items: center;
  min-height: 40px;
  background-color: #ce949c;
  padding-right: 10px;
}
/* //ADDED IN FOR THE HOMEPAGE CSS */
.new-post-form{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 70px;
  width: 500px;
}

.form-control {
  margin-right: 5px;
}
.form-control2 {
  padding-bottom: 40px;
}

.btn-warning {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-top: 10px;
}
.post_feed {
  display: flex;
  height:20px;
  width: 100%;
  justify-content: flex-start;
}


.main {   
  display: flex;
  margin: 90px 5px 10px 5px;
  background-color: rgb(235, 220, 245);
  width: 100%;
  min-height: 320px;
  height: fit-content;
  flex-direction:column;
}

.container1 {
  max-width: 15%;
  display: flex;
  padding: 60px;
  border-right: solid rgb(214, 162, 162);
}

.container2 {
  width: 160%;
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.container3 {

  width: 80%;

  display: flex;
  flex-direction: column;
  border-left: solid grey;
  padding: 40px;
}
.container5 {
background-color: rgb(249, 241, 241);
}
.profile {
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-indent: 40px;

}

.profile img {
  width: min(30vw, 120px);
  border-radius: min(30vw, 110px);
  flex-shrink: 0;
}

.profile figcaption {
  font-size: 1.2rem;
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  padding: 0.5rem 1rem;
}

p strong {
  font-size: 1.8rem;
  font-size: clamp(1.8rem, 5vw, 2.5rem);
  font-family: "Halant";
  line-height: 1.1;
}



/* .content {
  display: flex;
  flex-direction: column;
  max-width: 30%;
} */

.postinfo {
  height: fit-content;
  width: 100%;
  min-height: 3px;
  border-bottom: black solid;
  padding: 0px 0px 10px 10px;
}

.post_text{ 
  min-height: 78px;
}
.bottombar {
display:flex;
align-items: flex-end;
max-height: 50px;
width: 100%;
border-top: black solid;
}


.upvotes{
  max-width: inherit;
  max-height: inherit;
  padding-top: 10px;
}
/*ALL FOR HOMEPAGE CSS  */

.fakeimg {
  background-color: rgb(233, 205, 205);
  max-width: 80%;
  padding: 20px;
}


.profile-list {
  background-color: azure;
}
.bio {
  display: inline-block;
  width: auto;
  border-style: solid;
  border-color: rgb(210, 181, 181);
  border-width: 1px;
  padding: 5px 10px 10px 5px;
  
}

.profiledivider {
  border-bottom: rgb(228, 193, 193) 1px solid;
}
.astext {
  text-decoration: underline;
  background:none;
  border: none;
  margin: 0;
  padding: 0;
  cursor:pointer;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
.btn a {

  float: none;
  width: 100%;

} 
}